alembic==1.0.6
APScheduler==3.5.3
asn1crypto==0.24.0
backports.csv==1.0.6
beautifulsoup4==4.6.0
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
click==6.7
cryptography==3.2
cycler==0.10.0
Cython==0.28.2
decorator==4.3.0
defusedxml==0.5.0
et-xmlfile==1.0.1
fbprophet==0.2.1
Flask==1.0
Flask-APScheduler==1.11.0
Flask-Migrate==2.3.1
Flask-SQLAlchemy==2.3.2
idna==2.6
inflection==0.3.1
itsdangerous==0.24
jdcal==1.4
Jinja2==2.10
jira==1.0.15
jsonpath-rw==1.4.0
kiwisolver==1.0.1
lxml==4.2.1
Mako==1.0.7
MarkupSafe==1.0
matplotlib==2.2.2
more-itertools==4.1.0
mpl-finance==0.10.0
mutagen==1.40.0
ndg-httpsclient==0.4.4
numpy==1.14.3
oauthlib==2.1.0
odfpy==1.4.0
openpyxl==2.5.4
pandas==0.22.0
pandas-datareader==0.6.0
pandaSDMX==0.9
pbr==4.0.4
ply==3.11
pyasn1==0.4.2
pycparser==2.18
pyOpenSSL==17.5.0
pyparsing==2.2.0
pystan==2.17.1.0
python-dateutil==2.7.2
python-dotenv==0.10.1
python-editor==1.0.3
pytrends==4.3.0
pytz==2018.3
PyYAML==3.13
Quandl==3.3.0
requests==2.18.4
requests-file==1.4.3
requests-ftp==0.3.1
requests-oauthlib==1.0.0
requests-toolbelt==0.8.0
rsl==1.0.0
six==1.11.0
SQLAlchemy==1.2.16
tablib==0.12.1
-e git+https://github.com/abstract-thinking/timing-observer.git@37a403ce9eebd2f9fa596a2afaee4058031c0766#egg=timingobserver
tzlocal==1.5.1
unicodecsv==0.14.1
urllib3==1.22
virtualenv==15.2.0
virtualenvwrapper-win==1.2.5
Werkzeug==0.15.3
wrapt==1.10.11
xlrd==1.2.0
xlwt==1.3.0
Yahoo-ticker-downloader==3.0.1
