<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GI</title>
</head>
<body>
<table border="1" align="center">
    <thead>
    <tr align="center">
        <td>Date</td>
        <td>Season Point</td>
        <td>Interest Rate</td>
        <td>Interest Point</td>
        <td>Inflation Rate</td>
        <td>Inflation Point</td>
        <td>Exchange Rate</td>
        <td>Exchange Point</td>
        <td>Sum of Points</td>
    </tr>
    </thead>
    <tbody>
    {% for entry in gi %}
    <tr align="center">
        <td>{{entry.date}}</td>
        <td>{{entry.season_point}}</td>
        <td>{{'%0.2f'|format(entry.interest_rate|float)}}</td>
        <td>{{entry.interest_point}}</td>
        <td>{{'%0.1f'|format(entry.inflation_rate|float)}}</td>
        <td>{{entry.inflation_point}}</td>
        <td>{{'%0.4f'|format(entry.exchange_rate|float)}}</td>
        <td>{{entry.exchange_point}}</td>
        <td>{{entry.sum_of_points}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>