<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Indices</title>
    </head>
    <body>
    <table border="1" align="center" cellpadding="1">
            <thead>
                <tr>
                    <td>Code</td>
                    <td>Description</td>
                </tr>
            </thead>
            <tbody>
              {% for index in indices %}
                <tr>
                  <td>{{index.code}}</td>
                  <td>{{index.description}}</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </body>
</html>