<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Quotes</title>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Close</td>
                    <td>RSL</td>
                    <td>Code ID</td>
                    <td>Date ID</td>
                </tr>
            </thead>
            <tbody>
              {% for quote in quotes %}
                <tr>
                    <td>{{quote.id}</td>
                    <td>{{quote.close}}</td>
                    <td>{{quote.rsl}}</td>
                    <td>{{quote.code_id}}</td>
                    <td>{{quote.date_id}}</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </body>
</html>