<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>RSL</title>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <td>Date</td>
                    <td>RSL</td>
                </tr>
            </thead>
            <tbody>
                {% for quote in rsls %}
                <tr>
                    <td>?</td>
                    <td>{{quote.rsl}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>